@model CripexLibrary.Models.ViewModels.LibraryViewModel<BookBorrow>

@{
    ViewData["Title"] = "Book To Return";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="pagetitle">
    <h1>Book To Return</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Books Inventory</li>
            <li class="breadcrumb-item active text-primary">Book To Return</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
<table class="table">
    <thead>
        <tr>
            <th>
                Book Image
            </th>
            <th>
                Book Title
            </th>
            <th>
                Copy Number
            </th>
           @* <th>
                Status
            </th>*@
            <th>
                Due Date
            </th>
            @*<th>
                Return Date
            </th>*@
            <th>
                Days Overdue
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                <img src="~/images/book-photos/@item.Book.BookImg" width="60" height="50" />
            </td>
            <td>
                @item.Book.BookTitle
            </td>
            <td>
                @item.BookCopy.CopyNumber
            </td>
           @* <td>
                @item.BookCopy.Status
            </td>*@
            <td>
                @item.DueDate
            </td>
            @*<td>
                @item.ReturnDate
            </td>*@
            <td>
               @if (item.ReturnDate == null && item.DueDate < DateTime.Now)
                {
                   <p>@(DateTime.Now.Subtract(item.DueDate).Days) days overdue</p>
                }
                else
                {
                   <p>Not overdue</p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_Pagination" model="Model.Pagination" />
<br />
<br />
</section>