@model CripexLibrary.Models.Book
@{
    ViewData["Title"] = "Book Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/book-photos/@Html.DisplayFor(model => model.BookImg)" alt="@Html.DisplayFor(model => model.BookTitle)" class="img-fluid w-100">
        </div>
        <div class="col-md-9">
            <h1 class="mb-4">@Html.DisplayFor(model => model.BookTitle)</h1>
            <p><strong>Author: </strong> @Html.DisplayFor(model => model.Author.AuthorName)</p>
            <p><strong>Publisher: </strong> @Html.DisplayFor(model => model.Publisher.PublisherName)</p>
            <p><strong>ISBN: </strong> @Html.DisplayFor(model => model.Isbn)</p>
            <p><strong>Status: </strong> @Html.DisplayFor(model => model.Status)</p>
            <p>
                <strong>Categories:</strong>
                @foreach (var category in Model.Category)
            {
                @Html.DisplayFor(modelItem => category.CategoryName)
                
                @if (category != Model.Category.LastOrDefault())
                {
                    <span>,</span>
                }
                
            }
            </p>
            <p class="mt-2"><strong>Book Description:</strong></p>
            <p class="mt-2"> @Html.DisplayFor(model => model.BookDescription)</p>
            @if (@ViewBag.borrowedBooks >= 2)
            {
            }
            <a asp-action="Borrow" asp-asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-primary mt-4">Borrow</a>

           @* <a class="btn btn-outline-primary mt-4" asp-action="AddToWishList" asp-controller="Home" asp-route-id="@Model.Id">Add to Wishlist</a>*@
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>About the Author</h2>
            <p>@Html.DisplayFor(model => model.Author.Biography)</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>More books by @Html.DisplayFor(model => model.Author.AuthorName)</h2>
        </div>
        @foreach(var books in ViewBag.MoreBooksByAuthor)
            {
        <div class="col-sm-2">
            <div class="card mb-3">
                    <a asp-controller="Home" asp-action="BookDetail" asp-route-id="@books.Id" asp-route-authorName="@books.Author.AuthorName">
                        <img src="~/images/book-photos/@books.BookImg" alt="@books.BookTitle" class="card-img-top"> @*class="card-img-top"*@
                    </a>
                <div class="card-body">
                    <h5 class="card-title">@books.BookTitle</h5>
                    <p class="card-text">@books.Author.AuthorName</p>
                </div>
            </div>
        </div>
        }
    </div>

    <hr>
   
</div>
